/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

@import "https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css";
.qx-aum-text-field.ui-state-disabled {
 opacity: 1;
}
/* TODO remove hack */
.qx-bordered-window > * > * {
  overflow: hidden !important;
}
.qx-aum-separator {
  display: none;
}
.qx-aum-toolbar{
 height: 60px !important;
}