/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.cmsfb .qx-identifier-w_activity_operator_scroll {
    min-height: 100% !important;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-table.qx-aum-table .qx-brow td {
    height: 2.5rem !important;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse:not(.qx-c-nativestyle),
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse:not(.qx-c-nativestyle) * {
    background-color: rgba(190, 210, 240,.1);
    color: black;
}

.cmsfb .qx-aum-window > .qx-aum-grid-panel > div > .qx-identifier-cnttable .qx-aum-table {
    height: auto !important;
}
.cmsfb .qx-identifier-w_activity_operator_scroll > div:first-child > div {
    box-shadow: none;
}
.cmsfb .qx-identifier-w_act_edit > .qx-identifier-rootcontainer > div:nth-child(4) {
    display: none;
}

.qx-identifier-w_activity_operator_scroll > .qx-identifier-rootcontainer {
    flex: 1 1 auto;
}
.qx-identifier-w_act_edit > .qx-identifier-rootcontainer {
    padding-top: 3rem !important;
}
.qx-identifier-w_act_edit > .qx-identifier-rootcontainer::before {
    position: absolute;
    content: 'Activity Details';
    font-family: 'Open Sans';
    font-size: 1.4rem;
    font-weight: 600;
    color: #53565c;
    display: flex;
    top: 0;
    left: 0;
    height: 3rem;
    padding-left: 2.5rem;
    align-items: center;
}

.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(3),
.cmsfb .qx-scroll-space,
.cmsfb .qx-identifier-w_activity_operator_scroll > div:first-child > div:last-child,
.cmsfb .qx-identifier-w_activity_operator_scroll > div:first-child > div:first-child {
    display: none;
}
.cmsfb .qx-identifier-w_activity_operator_scroll > div:first-child > div:nth-child(2) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    flex-grow: 0;
}
.cmsfb .qx-identifier-w_activity_operator_scroll > div:first-child > div:nth-child(3) {
    margin-top: 0 !important;
    border-top: 0 !important;
}

.cmsfb .qx-identifier-w_activity_operator_scroll.qx-aum-window > .qx-aum-grid-panel > div > .qx-identifier-cnttable .qx-hrow {
    background-color: #fff;
}
.cmsfb .qx-identifier-w_activity_operator_scroll.qx-aum-window > .qx-aum-grid-panel > div > .qx-identifier-cnttable.qx-aum-grid-panel > div {
    padding-top: 0 !important;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cnttable > div > div{
    margin-top: 0 !important;
    border: none;
    box-shadow: none;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1groupbox {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    position: relative;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1groupbox::before {
    content: 'Activity List';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: 'Open Sans';
    font-size: 1.3rem;
    color: #53565c;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 1rem;
}

.cmsfb .qx-identifier-cntdetail1groupbox > .qx-text {
    display: none;
}

.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub {
    flex-flow: row wrap;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div {
    align-self: center !important;
    padding: 0 !important;
    border-color: #3b5484 !important;
    height: 1.7rem;
    min-height: 1.7rem;
    max-height: 1.7rem;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div ul::before,
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div ul::after {
    content: '';
    align-self: stretch;
    width: 1px;
    min-width: 1px;
    max-width: 1px;
    background-color: #3b5484;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div ul::before {
    order: 2;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div ul::after {
    order: 4;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div li:nth-child(1) {
    order: 1;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div li:nth-child(2) {
    order: 3;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div li:nth-child(3) {
    order: 5;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div li {
    padding: 0 !important;
    min-width: 10rem;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div li:last-child {
    border-right: none;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div label {
    justify-content: center;
    padding: .5rem !important;
    cursor: pointer;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div label:before {
    display: none;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div .qx-text {
    white-space: nowrap !important;
}

.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div input + label {
    color: #3b5484;
}
.cmsfb .qx-identifier-w_activity_operator_scroll .qx-identifier-cntdetail1sub > div input:checked + label {
    background-color: #3b5484;
    color: #fff;
}

.cms-toolbar .qx-aum-button {
    width: auto;
    min-width: 4rem;
    min-height: 1.8rem;
}
.cms-toolbar .qx-aum-button > a {
    background: none;
    background-color: transparent;
    border: none;
}
.cms-toolbar .qx-aum-button * {
    align-self: center;
}

.cms-toolbar .qx-aum-button .qx-text {
    color: #fff;
    font-family: 'Open Sans';
    font-size: .9rem;
    font-weight: 100;
}

.cms-toolbar .qx-aum-button img {
    display: none !important;

}

.cms-toolbar .qx-aum-button.qx-identifier-bt_view {
    order: 1;
}

.cms-toolbar .qx-aum-button.qx-identifier-bt_close {
    order: 2;
}

.cms-toolbar .qx-aum-button.qx-identifier-bt_delete {
    order: 3;
}

.cms-toolbar .qx-aum-button.qx-identifier-bt4 {
    order: 4;
}

.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div {
    flex-wrap: nowrap;
}

.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(4),
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:first-child > .qx-aum-label,
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(2),
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div > div {
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    padding: .5rem;
    margin: .5rem 1rem 0 1.2rem;
}

.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(4)::before,
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:first-child > .qx-aum-label,
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub .qx-aum-label {
    font-size: .8rem;
    color: #d6d6d6;
    width: 5.7rem;
    overflow: hidden;
    top: 0;
    padding-left: .8rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div > .qx-aum {
    height: auto;
}
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:first-child > .qx-aum-label,
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div > .qx-grid-x-0,
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div > .qx-grid-x-2 {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 2.5rem;
}

.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(2),
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div > .qx-grid-x-1,
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail1sub > div > .qx-grid-x-3 {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1 1 calc(50% - 8rem);
    height: 2.5rem;
}
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:first-child {
    min-height: 3rem;
    flex: 0 0 auto;
}
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(2) {
    flex: 1 1 calc(100% - 10rem);
}

.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(4) {
    flex: 1 1 100%;
    position: relative;
    padding-top: 3rem;
}
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(4)::before {
    position: absolute;
    height: 3rem;
    content: 'Details';
}
.cmsfb:root .qx-c-cms-simple-window.qx-identifier-w_act_edit .qx-identifier-cntdetail2sub > div:nth-child(4) > .qx-aum-text-area {
    flex: 1 1 auto;
    background: none;
    border: none;
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
    padding: .3rem;
    border-radius: .3rem;
}
