/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*row with buttons in search results window*/
.cmsfb:root .qx-identifier-w_comp_scroll .qx-identifier-rootcontainer > div:last-child,
/*row with search widget*/
.cmsfb:root .qx-identifier-rootcontainer > div:first-child {
    display: none !important;
}

.cmsfb:root .qx-identifier-w_comp_scroll .qx-identifier-rootcontainer > div:nth-child(2) {
    background-color: #fff;
}

.cmsfb:root .qx-identifier-w_comp_scroll .qx-identifier-rootcontainer .qx-aum-table {
    background: none;
}

qx-identifier-w_comp_short.qx-c-cms-simple-window .qx-text-field {
    flex: 1 1 auto;
}


html.cmsfb:root .qx-aum-group-box.qx-c-minimal .qx-identifier-cntdetail1gbsubgpleft > div:nth-child(4),
html.cmsfb:root .qx-aum-group-box.qx-c-minimal .qx-identifier-cntdetail1gbsubgpleft > div:nth-child(5) {
    padding-left: 6.4rem;
}


.cmsfb:root .qx-aum-group-box.qx-c-minimal .qx-identifier-cntdetail1gbsubgpcenter > div,
.cmsfb:root .qx-aum-group-box.qx-c-minimal .qx-identifier-cntdetail1gbsubgpright > div {
    flex-grow: 1;
}

.cmsfb .qx-identifier-w_comp_short.qx-c-cms-simple-window > .qx-identifier-rootcontainer {
    flex-direction: column;
    padding: 1.2em 5em 5em 1.5em;
}

.cmsfb:root .qx-identifier-w_comp_short.qx-c-cms-simple-window .qx-aum-label span::after,
.cmsfb:root .qx-identifier-w_comp_short.qx-c-cms-simple-window .qx-aum-label,
.cmsfb:root .qx-identifier-w_comp_short.qx-c-cms-simple-window .qx-aum-text-field {
    font-family: Open Sans;
    font-size: 1.2em;
    font-weight: bold;
    color: #53565c;
}
.cmsfb:root .qx-identifier-w_comp_short.qx-c-cms-simple-window .qx-aum-text-field {
    font-weight: normal;
    color: #c4cbcf;
    border: none;
    flex: 1 1 auto;
}

.cmsfb .qx-identifier-w_comp_short.qx-c-cms-simple-window > .qx-identifier-rootcontainer > div > .qx-aum-grid-panel > div > .qx-aum-grid-panel > div > * {
    align-self: center;
}
.cmsfb .qx-identifier-w_comp_short.qx-c-cms-simple-window > .qx-identifier-rootcontainer > div > .qx-aum-grid-panel > div > .qx-aum-grid-panel > div {
    padding:  .5em 1em .5em 0;
}
.cmsfb .qx-identifier-w_comp_short.qx-c-cms-simple-window > .qx-identifier-rootcontainer > div > .qx-aum-grid-panel > div > .qx-aum-grid-panel > div > .qx-aum-label {
    width: 124px;
    overflow: hidden;
}

.cmsfb .qx-identifier-w_comp_short.qx-c-cms-simple-window > .qx-identifier-rootcontainer > div > .qx-aum-grid-panel > div > .qx-aum-grid-panel > div > .qx-aum-label span::after {
    content: ':';
    padding-right: 1em;
}

.cmsfb .qx-identifier-w_comp_short.qx-c-cms-simple-window > .qx-identifier-rootcontainer > div > .qx-aum-grid-panel > div > .qx-aum-grid-panel > div > .qx-aum-label:last-of-type span::after {
    content: '';
}



@media only screen and (min-width : 1001px) and (max-width : 10000px)
{
    .cmsfb:root .qx-identifier-cntdetail1subleft,
    .cmsfb:root .qx-identifier-cntdetail1subcenter,
    .cmsfb:root .qx-identifier-cntdetail1subright {
        flex-basis: 33%;
    }
}

@media only screen and (min-width : 601px) and (max-width : 1000px) {
    .cmsfb:root .qx-identifier-cntdetail1subleft,
    .cmsfb:root .qx-identifier-cntdetail1subcenter {
        flex-basis: 50%;
    }
    .cmsfb:root .qx-identifier-cntdetail1subright {
        flex-basis: 100%;
    }
}

@media only screen and (min-width : 1px) and (max-width : 600px) {
    .cmsfb:root .qx-identifier-cntdetail1subleft,
    .cmsfb:root .qx-identifier-cntdetail1subcenter,
    .cmsfb:root .qx-identifier-cntdetail1subright {
        flex-basis: 100%;
    }
}
@media only screen and (min-width : 601px) and (max-width : 10000px) {
    .qx-devicemode-desktop.cmsfb:root .qx-identifier-cntdetail2subleft,
    .qx-devicemode-desktop.cmsfb:root .qx-identifier-cntdetail2subright {
        flex-basis: 50%;
    }
}

@media only screen and (min-width : 1px) and (max-width : 600px) {
    .qx-devicemode-desktop.cmsfb:root .qx-identifier-cntdetail2subleft,
    .qx-devicemode-desktop.cmsfb:root .qx-identifier-cntdetail2subright {
        flex-basis: 100%;
    }
}
