/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*
Add qxtheme file (can be empty) and css file exactly with the same name as your application.
Example: application name is cmsContact
add files
    - cmsContact.qxtheme
    - cmsContact.css
Put into cmsContact.css CSS definitions specific for you application.
Build
Run
*/

.cmsfb .qx-identifier-w_comp_scroll,
.cmsfb .qx-identifier-w_advanced_lookup_contact,
.cmsfb .qx-identifier-w_advanced_lookup_company {
    min-height: 100% !important;
}

.cmsfb .qx-identifier-w_comp_scroll > .qx-identifier-rootcontainer,
.cmsfb .qx-identifier-w_advanced_lookup_contact > .qx-identifier-rootcontainer,
.cmsfb .qx-identifier-w_advanced_lookup_company > .qx-identifier-rootcontainer {
    flex-grow: 1;
}

.cmsfb .qx-identifier-w_comp_scroll > .qx-identifier-rootcontainer .qx-table,
.cmsfb .qx-identifier-w_advanced_lookup_contact > .qx-identifier-rootcontainer .qx-table,
.cmsfb .qx-identifier-w_advanced_lookup_company > .qx-identifier-rootcontainer .qx-table {
    height: auto !important;
}

.cmsfb.qx-target-pg .qx-identifier-cntdetail2grboxsub4 > div:nth-child(2),
.cmsfb.qx-target-mobile .qx-identifier-cntdetail2grboxsub4 > div:nth-child(2),
.cmsfb.qx-target-web .qx-identifier-cntdetail2grboxsub4 > div:nth-child(2),
.cmsfb .qx-identifier-w_comp_scroll > .qx-identifier-rootcontainer .qx-table .qx-scroll-space,
.cmsfb .qx-identifier-w_advanced_lookup_contact > .qx-identifier-rootcontainer .qx-table .qx-scroll-space,
.cmsfb .qx-identifier-w_advanced_lookup_company > .qx-identifier-rootcontainer .qx-table .qx-scroll-space,
.cmsfb .qx-identifier-w_advanced_lookup_contact > .qx-identifier-rootcontainer > div:nth-child(2),
.cmsfb .qx-identifier-w_advanced_lookup_company > .qx-identifier-rootcontainer > div:nth-child(2),
.cmsfb .qx-identifier-rootcontainer > div:first-child,
.cmsfb .qx-identifier-rootcontainer > div:last-child {
    display: none !important;
}

.qx-identifier-cntdetail1groupboxcontact > div,
.qx-identifier-cntdetail1groupboxmisc > div,
.qx-identifier-cntdetail2grboxsub1 > div,
.qx-identifier-cntdetail2sub2 > div {
    flex-wrap: nowrap !important;
}

.cmsfb .qx-aum-group-box.qx-c-minimal > .qx-content > .qx-identifier-cntdetail2grboxsub3.qx-aum-grid-panel > div,
.cmsfb .qx-aum-group-box.qx-c-minimal > .qx-content > .qx-identifier-cntdetail1groupboxmap.qx-aum-grid-panel > div,
.cmsfb .qx-aum-group-box.qx-c-minimal > .qx-content > .qx-identifier-cntdetail1groupboxmap.qx-aum-grid-panel > div > iframe {
    padding: 0;
    flex-grow: 1;
}

.cmsfb.qx-devicemode-phone .qx-aum-group-box.qx-c-minimal > .qx-content > .qx-identifier-cntdetail1groupboxmap.qx-aum-grid-panel > div > iframe {
    width: 1px;
}

.cmsfb .qx-identifier-cntdetail2groupbox2.qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div:nth-child(5),
.cmsfb .qx-identifier-cntdetail2groupbox2.qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div:nth-child(6) {
    border: none;
    padding-left: 0;
    margin-left: 0;
}

.cmsfb .qx-identifier-cntdetail2groupbox2.qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div > .qx-aum-radio-button-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 0;
    margin: .5em 1em 0 1.2em;
}

html.cmsfb:root .qx-aum-group-box.qx-c-minimal .qx-identifier-cntdetail2grboxsub1 > div:nth-child(2),
html.cmsfb:root .qx-aum-group-box.qx-c-minimal .qx-identifier-cntdetail2grboxsub1 > div:nth-child(3) {
    padding-left: 6.4rem;
}

/*BEGIN default layout*/
.cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail1 > div > div:nth-child(1),
.cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail1 > div > div:nth-child(3) {
    flex: 0 1 calc(25% - 1rem);
}
.cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail1 > div > div:nth-child(2) {
    flex-grow: 1;
}

.cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail2 > div > div {
    flex: 0 1 calc(25% - 1rem);
}
/*END default layout*/

.cmsfb .qx-identifier-cntdetail1subrightmap > div {
    overflow: hidden;
}

@media only screen and (min-width : 601px) and (max-width : 1000px) {
    .cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail1 > div > div:nth-child(1),
    .cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail1 > div > div:nth-child(3) {
        flex-basis: calc(50% - 1rem);
    }
    .cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail1 > div > div:nth-child(2) {
        flex-basis: calc(100% - 1rem);
    }
    .cmsfb .qx-identifier-w_contact_main .qx-identifier-cntdetail2 > div > div {
        flex-basis: calc(50% - 1rem);
    }
}

@media only screen and (min-width : 1px) and (max-width : 600px) {
    .cmsfb:root .qx-identifier-cntdetail2sub1,
    .cmsfb:root .qx-identifier-cntdetail2sub2,
    .cmsfb:root .qx-identifier-cntdetail2sub3,
    .cmsfb:root .qx-identifier-cntdetail2sub4 {
        flex-basis: calc(100% - 1rem);
    }
}
