/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.cms-mail-inbox .qx-aum-table th,.cms-simple .qx-aum-table td {
    background-color: #fff;
    border: none;
}

.cms-mail-inbox .qx-aum-table .qx-hrow th {
    font-family: Open Sans;
    font-size: 14px;
    color: #404040;
    opacity: .5;
    padding-left: .5em;
}

.cms-mail-inbox .qx-aum-table .qx-brow tr {
    border-top: 1px solid #f0f3f4;
}

.cms-mail-inbox .qx-aum-table .qx-brow td {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 13px;
    color: #404040;
}


.cms-mail-inbox .qx-child-page, .qx-window-border {
    background-color: #f0f3f4;
}

.cms-mail-inbox .qx-aum-table.qx-table {
    border: none;
}

.cms-mail-inbox .qx-aum-table,
.cms-mail-inbox .qx-aum-table > div,
.cms-mail-inbox .qx-aum-table .qx-brow,
.cms-mail-inbox .qx-aum-table .qx-brow > div,
.cms-mail-inbox .qx-aum-table .qx-brow .qx-bcell
{
    position: static !important;
    display: block !important;
    min-height: auto !important;
    max-height: auto !important;
    min-width: auto !important;
    max-width: auto !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}

.cms-mail-inbox .qx-aum-table .qx-tbody > tbody {
	display: flex;
	flex-flow: row wrap;
}
.cms-mail-inbox .qx-aum-table .qx-hrow, .qx-aum-table .qx-frow,
.cms-mail-inbox .qx-aum-table .qx-tbody > thead, .qx-aum-table .qx-tbody > tfoot {
	display: none;
}
.cms-mail-inbox .qx-aum-table .qx-tbody tr {
	margin: .5em;
    padding: 1.2em 1em 1em 2em;
	display: flex;
	flex-flow: row wrap;
	flex: 1 0 100%;
	align-self: stretch;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0);
}
.cms-mail-inbox .qx-aum-table .qx-tbody td {
	display: block;
    height: auto !important;
    border: none;
}

.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(1),
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(5),
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(7),
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(8),
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(9) {
    display: none;
}

.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(2),
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(3),
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(4) {
    color: #828a8f;
    font-size: 12px;
}

.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(3) {
    order: 1;
    flex-basis: 1;
    position: relative;
    padding-right: 1em;
}
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(3) .qx-text {
    text-transform: capitalize;
}

.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(3)::after {
    content: '-';
    position: absolute;
    top: 0; right: 0; bottom: 0;
}

.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(4) {
    order: 2;
    flex-basis: 70%;
    padding-left: .1em;
}
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(2) {
    order: 3;
    flex-basis: 10%;
    flex-grow: 1;
}
.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(2) label {
    justify-content: flex-end;
}

.cms-mail-inbox .qx-aum-table .qx-tbody td:nth-child(6) {
    order: 4;
    flex-basis: 100%;
    font-family: Open Sans;
    font-size: 17px;
    color: #545f66;
    padding: .3em .3em .6em 0;
}
