/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

@media only screen and (min-device-width: 451px) and (max-device-width: 1200px)
{
    body:before {
        content: 'tablet';
    }
    .cmsfb #qx-main-layout #qx-container #qx-container-menu {
        font-size: 1.2rem;
    }

    .cmsfb .cms-button-mainmenu {
        width: 2rem;
        height: 2rem;
        flex-basis: 2rem;
    }
    .cmsfb.cms-mainmenu-visible #cms-mainmenu-close {
    	display: flex !important;
    }

    .cmsfb:root #cms-topbar > p {
        padding-right: .5em;
    }
    .cmsfb.cms-mainmenu-visible:root #cms-topbar {
    	padding-left: 0;
    }

    .cmsfb #qx-main-layout .qx-mdi.qx-menu-type-tree#qx-container #qx-container-inner #qx-container-menu {
    	position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px !important;
        min-width: 1px;
        opacity: 0;
    	box-shadow: 0 0 15px #000;
        z-index: 999999;
    }

    .cmsfb.cms-mainmenu-visible:root #qx-main-layout .qx-menu-type-tree #qx-container-menu {
        width: 20rem;
        min-width: 20rem;
        opacity: 1;
    }

    .cmsfb.cms-mainmenu-visible #qx-main-layout .qx-child-page {
        position: relative;
        z-index: 0;
    }
    .cmsfb.cms-mainmenu-visible #qx-main-layout .qx-child-page::after {
        content: '';
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: .4;
    }
}
