/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

@media only screen and (max-device-width: 450px) {
    body:before {
        content: 'mobile';
    }
    .cmsfb #qx-main-layout #qx-container #qx-container-menu {
        font-size: 1.2rem;
    }

    .cmsfb .cms-button-mainmenu {
        width: 2rem;
        height: 2rem;
        flex-basis: 2rem;
    }
    .cmsfb.cms-mainmenu-visible #cms-mainmenu-close {
    	display: flex !important;
    }
    .cmsfb #cms-topbar > p.cms-search-widget {
    	margin: 0 .4rem;
    }

    .cmsfb:root .qx-aum-blob-viewer {
        min-width: auto !important;
        min-width: unset !important;
    }
    .cmsfb:root ul.cms-tito-holder.cms-increase-specificity.cms-increase-specificity > li {
        flex-grow: 0;
    }

    .cmsfb:root ul.cms-tito-holder.cms-increase-specificity.cms-increase-specificity {
        justify-content: center;
    }

    .cmsfb:root #cms-topbar > p {
        padding-right: .5em;
    }
    .cmsfb.cms-mainmenu-visible:root #cms-topbar {
    	padding-left: 0;
    }

    .cmsfb:root #qx-main-layout .qx-menu-type-tree #qx-container-menu {
    	position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        min-width: 1px;
        opacity: 0;
    	box-shadow: 0 0 15px #000;
        z-index: 999999;
    }

    .cmsfb.cms-mainmenu-visible:root #qx-main-layout .qx-menu-type-tree #qx-container-menu {
        width: 100%;
        min-width: 100%;
        opacity: 1;
    }
}
