/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

html.cmsfb, html.cmsfb body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html.cmsfb body:before {
    position: fixed;
    display: none;
    bottom:0;
    left:0;
    background-color: red;
    opacity: .35;
    color: #fff;
    content: "\221E";
    z-index: 11111;
}

* {
  box-sizing: border-box;
  background: none;
}

html.cmsfb * {
    white-space: normal !important;
}

html.cmsfb #qx-system-info {
    display: none !important;
}

html.cmsfb.qx-top-of-hierarchy:root,
html.cmsfb body,
.qx-top-of-hierarchy.qx-application
{
  font-size: 16px;
}

html.cmsfb.qx-top-of-hierarchy.qx-devicemode-desktop:root {
    min-width: 800px !important;
}

.cmsfb .qx-aum-text-field > .qx-text-edit {
    /*position: absolute !important;*/
    white-space: nowrap !important;
    top: 0;
    left: 0;
}

.cmsfb.qx-top-of-hierarchy:root .ui-state-disabled,
.cmsfb.qx-top-of-hierarchy:root .ui-widget-content .ui-state-disabled,
.cmsfb.qx-top-of-hierarchy:root .ui-widget-header .ui-state-disabled {
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.cmsfb .qx-identifier-cnttitle {
    display: none !important;
}
.qx-devicemode-phone .qx-page-header,
.qx-devicemode-phone .qx-page-footer,
.qx-devicemode-tablet .qx-page-header,
.qx-devicemode-tablet .qx-page-footer {
	display: none;
}

.cmsfb:root .qx-page.qx-viewport.ui-page,
.cmsfb:root #qx-container-body {
    padding-top: 3.75rem !important;
}
.cmsfb:root #css-joker .qx-page.qx-viewport.ui-page {
    padding-bottom: 0 !important;
}

.cmsfb:root .qx-window-border,
.cmsfb:root #qx-t-c {
    border: none !important;
    font-size: 1em;
}
