/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*Company context menu*/
.cmsfb .qx-identifier-contextmenu .qx-identifier-f204,
.cmsfb .qx-identifier-contextmenu .qx-identifier-f205,
.cmsfb .qx-identifier-contextmenu .qx-identifier-f206,
.cmsfb .qx-identifier-contextmenu .qx-identifier-key_home,
.cmsfb .qx-identifier-contextmenu .qx-identifier-key_end,
.cmsfb .qx-identifier-contextmenu .qx-identifier-up,
.cmsfb .qx-identifier-contextmenu .qx-identifier-down,
.cmsfb .qx-identifier-contextmenu .qx-identifier-f30,
.cmsfb .qx-identifier-contextmenu .qx-identifier-f31,
.cmsfb .qx-identifier-contextmenu .qx-identifier-f11,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actexit,

/*Contact context menu*/
.cmsfb .qx-identifier-contextmenu .qx-identifier-actcontactsendemail,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actcontactletterdde,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actnewactivity,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actcontactsearchquick,
.cmsfb .qx-identifier-contextmenu .qx-identifier-accept,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actcontactsearchdetailed,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actactivitygrid,
.cmsfb .qx-identifier-contextmenu .qx-identifier-actcontactshowcompany,
.cmsfb .qx-identifier-contextmenu .qx-identifier-previous,
.cmsfb .qx-identifier-contextmenu .qx-identifier-next,

.cmsfb .qx-popup .qx-aum-toolbar-separator,
.cmsfb .qx-popup .qx-identifier-actcontactsendemail,
.cmsfb .qx-popup .qx-identifier-actcontactletterdde,
.cmsfb .qx-popup .qx-identifier-actnewactivity,
.cmsfb .qx-popup .qx-identifier-actcontactsearchquick,
.cmsfb.cms-active-window-w_contact_main .qx-popup .qx-identifier-accept[title='Email Send'],
.cmsfb .qx-popup .qx-identifier-actcontactsearchdetailed,
.cmsfb .qx-popup .qx-identifier-actactivitygrid,
.cmsfb .qx-popup .qx-identifier-actcontactshowcompany,
.cmsfb .qx-popup .qx-identifier-f30,
.cmsfb .qx-popup .qx-identifier-f31,
.cmsfb .qx-popup .qx-identifier-f204,
.cmsfb .qx-popup .qx-identifier-f205,
.cmsfb .qx-popup .qx-identifier-f206,
.cmsfb .qx-popup .qx-identifier-f11,
.cmsfb .qx-popup .qx-identifier-actexit,
.cmsfb .qx-popup .qx-identifier-actlogout,
.cmsfb .qx-popup .qx-identifier- {
    display: none !important;
}
