/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*BEGIN QUICK FIX OF LOGIN WINDOW - IT DOESN'T COVERED BY KUPA SO FAR(06/08)*/
.cmsfb .cms-border-of-Login .qx-pane {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmsfb .cms-border-of-Login .qx-pane .qx-aum-window {
    width: auto !important;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 15px #000;
}

.cmsfb .cms-border-of-Login .qx-pane .qx-aum-window * {
    width: auto !important;
    height: auto !important;
}

.cmsfb .cms-border-of-Login .qx-pane .qx-aum-window .qx-c-fcls_fieldlabel,
.cmsfb .cms-border-of-Login .qx-pane .qx-aum-window .qx-c-fcls_data_widget {
    flex-basis: 50%;
    align-self: stretch;
    margin-bottom: .5em;
    font-family: Open Sans;
}

.cmsfb .cms-border-of-Login .qx-pane .qx-aum-window .qx-c-fcls_fieldlabel .qx-text {
    font-weight: bold;
}

.cmsfb .cms-border-of-Login .qx-pane .qx-aum-button label > span {
    align-self: center;
}

.qx-devicemode-phone.cmsfb .cms-border-of-Login .qx-identifier-login,
.qx-devicemode-tablet.cmsfb .cms-border-of-Login .qx-identifier-login {
    padding: .2rem;
}

.cmsfb .cms-border-of-Login .qx-identifier-bt_ok {
    align-self: stretch;
    margin-right: .1rem;
    margin-left: .1rem;
}
.cmsfb .cms-border-of-Login .qx-identifier-cspbuttonright {
    flex-grow: 1;
}
.cmsfb .cms-border-of-Login .qx-identifier-cspbuttonright > div {
    flex-basis: 50%;
}

.cmsfb .cms-border-of-Login .qx-identifier-lbinfo1 label > .qx-text {
    font-size: .8em;
    color: #aaa;
}

.cmsfb.qx-devicemode-desktop .cms-border-of-Login .qx-pane .qx-aum-window {
    padding: 2em 10em;
}

.cmsfb.qx-devicemode-phone .cms-border-of-Login .qx-pane .qx-aum-window .qx-identifier-image img,
.cmsfb.qx-devicemode-tablet .cms-border-of-Login .qx-pane .qx-aum-window .qx-identifier-image img {
    height: 100px !important;
}
/*END QUICK FIX OF LOGIN WINDOW - IT DOESN'T COVERED BY KUPA SO FAR(06/08)*/
