/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*BEGIN MAIN LAYOUT CHANGE TO FLEX*/
.cmsfb #qx-main-layout
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	overflow: hidden;
	width: auto;
}

.cmsfb #qx-main-layout > #qx-container {
    overflow: hidden;
}

.cmsfb .qx-window-border > tbody,
.cmsfb #qx-main-layout {
    flex-flow: column;
}

.cmsfb #qx-main-layout,
.cmsfb #qx-container,
.cmsfb #qx-container > form,
.cmsfb #qx-container > form > div,
.cmsfb .qx-mdi-with-tree-menu.qx-display-table,
.cmsfb .qx-mdi-with-tree-menu.qx-display-table > div,
.cmsfb #qx-container-body,
.cmsfb #qx-rest-insertion-point,
.cmsfb #qx-container-rest,
.cmsfb #qx-container-menu,
.cmsfb .qx-child-page,
.cmsfb .qx-window-border:not(.qx-o-c-screen),
.cmsfb .qx-window-border > tbody,
.cmsfb .qx-window-border > tbody > tr,
.cmsfb .qx-window-content-cell,
.cmsfb .qx-window-content-cell > table,
.cmsfb .qx-window-content-cell > table > tbody,
.cmsfb .qx-window-content-cell > table > tbody > tr,
.cmsfb .qx-window-content,
DUMMY
/*.cmsfb .qx-window-border td.qx-window-content-cell > table > tbody > tr > td,
.cmsfb .qx-window-border td.qx-window-content-cell > table > tbody > tr,
.cmsfb .qx-window-border td.qx-window-content-cell > table > tbody,
.cmsfb .qx-window-border td.qx-window-content-cell > table,
.cmsfb .qx-window-border td.qx-window-content-cell,
.cmsfb .qx-window-border > tbody > tr > td,
.cmsfb .qx-window-border > tbody > tr,
.cmsfb .qx-window-border > tbody,
.cmsfb .qx-window-border:not(.qx-o-c-screen),
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c > .qx-child-page,
.cmsfb #qx-main-layout .qx-mdi.qx-menu-type-tree#qx-container #qx-container-inner #qx-container-rest,
.cmsfb #qx-main-layout .qx-mdi.qx-menu-type-tree#qx-container #qx-container-inner #qx-container-menu,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body,
.cmsfb #qx-main-layout > #qx-container > form > div > #qx-rest-insertion-point,
.cmsfb #qx-main-layout > #qx-container > form > div,
.cmsfb #qx-main-layout #qx-container-inner > .qx-mdi-with-tree-menu.qx-display-table,
.cmsfb #qx-main-layout #qx-container-inner > .qx-mdi-with-tree-menu.qx-display-table > div,
.cmsfb #qx-main-layout > #qx-container > form,
.cmsfb #qx-main-layout > #qx-container,
.cmsfb #qx-main-layout */
{
	display: flex !important;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
}

.cmsfb .qx-window-content-cell td:first-child,
.cmsfb .qx-window-content-row,
.cmsfb .qx-window-content-cell,
.cmsfb .qx-window-border > tbody,
.cmsfb .qx-window-border,
.cmsfb .qx-child-page,
.cmsfb #qx-t-c,
.cmsfb #qx-container-rest,
.cmsfb #qx-container-body,
.cmsfb #qx-container-rest,
.cmsfb #qx-rest-insertion-point,
.cmsfb #qx-container > form > div,
.cmsfb #qx-container > form,
.cmsfb #qx-container {
/*.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c > .qx-child-page .qx-window-border td.qx-window-content-cell > table > tbody > tr > td:first-child,
.cmsfb .qx-window-content-row,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c > .qx-child-page .qx-window-border td.qx-window-content-cell,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c > .qx-child-page .qx-window-border > tbody,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c > .qx-child-page .qx-window-border,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c > .qx-child-page,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body > #qx-t-c,
.cmsfb #qx-main-layout .qx-mdi.qx-menu-type-tree#qx-container #qx-container-inner #qx-container-rest,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest > #qx-container-body,
.cmsfb #qx-main-layout > #qx-container #qx-container-rest,
.cmsfb #qx-main-layout > #qx-container > form > div > #qx-rest-insertion-point,
.cmsfb #qx-main-layout > #qx-container > form > div,
.cmsfb #qx-main-layout > #qx-container > form,
.cmsfb #qx-main-layout > #qx-container {*/
    height: auto !important;
    flex-grow: 1;
}

.cmsfb .qx-window-content-cell > table > tbody > tr > td,
.cmsfb .qx-window-content-cell > table > tbody > tr,
.cmsfb .qx-window-content-cell > table > tbody,
.cmsfb .qx-window-content-cell > table,
.cmsfb .qx-window-content-cell,
.cmsfb .qx-window-border > tbody > tr > td,
.cmsfb .qx-window-border > tbody > tr,
.cmsfb .qx-window-border > tbody,
.cmsfb .qx-window-border,
.cmsfb .qx-child-page,
.cmsfb #qx-t-c,
.cmsfb #qx-container-rest,
.cmsfb #qx-container-body,
.cmsfb #qx-container-rest,
.cmsfb #qx-rest-insertion-point,
.cmsfb #qx-container > form > div,
.cmsfb #qx-container > form,
.cmsfb #qx-main-layout > * {
	height: auto !important;
	align-self: stretch;
    width: auto !important;
}

.cmsfb #qx-container-menu {
    height: auto !important;
	align-self: stretch;
    flex-grow: 0;
}

.cmsfb .qx-identifier-rootcontainer {
    overflow: visible;
}

.cmsfb .cms-tito-holder {
    flex: 0 0 auto;
}
.cmsfb .qx-aum-text-area {
    display: flex;
}
/*END MAIN LAYOUT CHANGE TO FLEX*/

.cmsfb #qx-container-menu {
    width: 1px !important;
    min-width: 1px;
    /*opacity: 0;*/
}
.cmsfb.cms-mainmenu-visible #qx-container-menu {
	width: 20rem;
    min-width: 20rem;
    opacity: 1;
}
.cmsfb.cms-mainmenu-visible:root #cms-topbar {
	padding-left: 20rem;
}

.cmsfb .qx-child-page, .cmsfb .qx-window-border {
    background-color: #d6d6d6; /*!important;*/
    padding: 0;
}

.cmsfb .qx-window-secondary-w,
.cmsfb .qx-window-secondary-h,
.cmsfb #qx-container-toolbars,
.cmsfb:root #qx-container-status-bar,
.cmsfb:root #qx-container-menu .ui-resizable-handle,
.qx-aum-toolbar-button.cms-noimg img,
.qx-aum-toolbar-button.cms-notxt .qx-text,
.cmsfb:root .qx-window-border.qx-o-c-screen,
.cmsfb:root #qx-t-c > .qx-t-h {
    position: fixed;
    left: -9999px;
}

.cmsfb #cms-mainmenu-close {
    display: none !important;
}


.cmsfb #qx-container-body,
.cmsfb #qx-t-c,
.cmsfb .qx-child-page,
.cmsfb .qx-viewport .qx-pane,
.cmsfb .qx-viewport .qx-pane > *
{
	position: static;
    height: auto;
}

.cmsfb .qx-viewport .qx-pane {
    width: auto;
    height: auto;
    flex-grow: 1;
    align-self: stretch;
    overflow-x: hidden;
    overflow-y: auto;
}
.cmsfb.qx-browser-safari.qx-devicemode-tablet .qx-viewport .qx-pane,
.cmsfb.qx-browser-safari.qx-devicemode-phone .qx-viewport .qx-pane {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.cmsfb #qx-t-c {
	display: flex;
	flex-flow: column;
}

.cmsfb #qx-t-c > * {
	align-self: stretch;
}

.cmsfb .qx-child-page {
	flex: 1 1 90%;
	overflow: auto;
}
