/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.cmsfb .qx-aum-grid-panel {
    width: auto !important;
    height: auto !important;
    min-width: auto !important;
    min-height: auto !important;
    min-width: unset !important;
    min-height: unset !important;
    z-index: 0;
}

.cmsfb .qx-aum-grid-panel > div > .qx-aum-grid-panel {
    flex-grow: 1;
}

/*BEGIN even spacing of elements*/
.cmsfb .qx-aum-window > .qx-aum-grid-panel > div > .qx-aum-grid-panel > div {
    padding: .5rem .5rem 0 .5rem !important;
}

.cmsfb .qx-aum-table,
.cmsfb .qx-aum-group-box {
  margin: .5rem .5rem 0 .5rem !important;
}
/*END even spacing of elements*/

.cmsfb .qx-identifier-rootcontainer {
    position: relative;
    font-family: Open Sans;
    min-width: 0 !important;
}

/*Blue strip on top/under window*/
.cmsfb .qx-pane::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background-color: #3b5484;
  z-index: -1;
}
.cmsfb .qx-identifier-rootcontainer > div > div {
    flex-grow: 1;
    align-self: stretch;
}

.cmsfb .qx-aum-table,
.cmsfb .qx-aum-group-box {
  flex: 1 1 auto;
  align-self: stretch;
  border-radius: 4px;
  background-color: #ffffff;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
}

.cmsfb .qx-aum-table,
.cmsfb .qx-aum-group-box {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.cmsfb .qx-aum-group-box > .qx-text {
  flex-grow: 0;
  order: -1;
  align-self: stretch;
  order: -1;
  font-size: 1.5em;
  font-weight: bold;
  color: #53565c;
  padding: .5em .3em .5em .7em;
}

.cmsfb .qx-aum-group-box > .qx-content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    order: 1;
    margin: 0 0 1em 0;
    overflow-x: hidden;
}
.cmsfb.qx-browser-firefox .qx-aum-group-box > .qx-content,
.cmsfb.qx-browser-safari .qx-aum-group-box > .qx-content {
    display: block;
}

.cmsfb .qx-aum-group-box > .qx-content > div,
.cmsfb:root .qx-aum.qx-aum-grid-panel > div:only-child {
    flex-grow: 1;
    align-self: stretch;
}

.cmsfb .qx-aum-group-box > .qx-content > .qx-aum-grid-panel {
    flex-flow: column;
}

.cmsfb .qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div {
  display: flex;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  padding: .5rem;
  margin: .5rem 1rem 0 1.2rem;
  position: relative;
}

.cmsfb .qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div > .qx-aum-label {
    font-size: .8rem;
    color: #d6d6d6;
    width: 5.7rem;
    overflow: hidden;
    top: 0;
    padding-left: .8rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.cmsfb.qx-devicemode-phone .qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div > ul:first-child {
    width: auto;
}

.cmsfb .qx-aum-group-box > .qx-content > .qx-aum-grid-panel > div > :last-child {
    flex: 1 1 auto;
    border: none;
    align-self: stretch;
}

.cmsfb .qx-aum-group-box .qx-aum-function-field-abs > div,
.cmsfb .qx-aum-group-box .qx-aum-combo-box > div,
.cmsfb .qx-aum-group-box .qx-aum-text-field > div {
  color: #404040;
  font-weight: 500;
  letter-spacing: -.2px;
  flex: 1 0 100%;
  overflow: hidden;
}
.cmsfb .qx-aum-group-box .qx-aum-function-field-abs > div.qx-ff-button,
.cmsfb .qx-aum-group-box .qx-aum-function-field-abs > div.qx-ff-button * {
    flex-grow: 0;
}
.cmsfb .qx-aum-group-box .qx-aum-function-field-abs > div,
.cmsfb .qx-aum-group-box .qx-aum-combo-box > div {
  flex-basis: auto;
}
.cmsfb .qx-aum-group-box .qx-aum-combo-box > a {
  border: none;
  background-color: transparent;
}

.cmsfb .qx-aum-group-box .qx-aum-text-area > textarea {
    height: auto;
    align-self: stretch;
}

.cmsfb .qx-table.qx-aum-table th,
.cmsfb .qx-table.qx-aum-table td {
    background-color: #fff;
    border: none;
}
.cmsfb .qx-table.qx-aum-table .qx-brow tr {
    border-top: 1px solid #f0f3f4;
}

.cmsfb .qx-table.qx-aum-table .qx-hrow th {
    font-family: Open Sans;
    font-size: .875em;
    color: #404040;
    opacity: .5;
    padding-left: .5em;
}

.cmsfb .qx-table.qx-aum-table .qx-brow td {
    font-family: Open Sans;
    font-weight: 600;
    font-size: .8em;
    color: #404040;
    padding-left: .5em;
}

.cmsfb .qx-c-cms-simple-window,
.cmsfb .qx-c-cms-simple-window > .qx-identifier-rootcontainer {
    padding: 1em;
}
.cmsfb .qx-c-cms-simple-window {
    padding-top: 0;
}
.cmsfb .qx-c-cms-simple-window > .qx-identifier-rootcontainer {
    border-radius: .3rem;
    background-color: #fff;
}

.cmsfb .qx-aum-table .qx-brow {
    padding-top: 1.5rem;
}
