/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*BEGIN left-side menu*/
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu a
{
	font-weight: normal !important;
}

.cmsfb:root #qx-main-layout .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	background-color: #324873 !important;
	font-family: Montserrat;
	font-size: .82em;
	/*border-right-color: #324873 !important;*/
    border: none;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-item a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-default a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-active a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-default,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-active {
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

.cmsfb:root #qx-main-layout #qx-container.qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-menu-inner {
	width: 100%;
    position: static;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul {
	padding: 0;
	margin: 0;
	border: none;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu > div.qx-menu-inner::before,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul ul {
	background-color: #20355e;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li.ui-state-default,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar .ui-state-hover a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar .ui-state-default a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-default {
	border: none;
	background: none;
	background-color: inherit;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a:hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a:hover i:before {
	color: #fff;
	cursor: pointer;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li {
	padding: 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a {
	padding: .625em 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar label > img {
	visibility: hidden;
	display: block !important;
	width: 1em !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview .hover {
	color: #fff !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li {
	padding-left: 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li > a {
	margin-left: 1.25em;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu label > i {
	color: rgba(150,150,150,.6);
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li > a {
	margin-left: 2.5em;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li {
	position: relative;
	z-index: 2;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group > a:after {
	content: "";
	position: absolute;
	top: 1em;
	right: 2em;
	width: 0;
	height: 0;
	border-top: .375em solid transparent;
	border-right: none;
	border-bottom: .375em solid transparent;
	border-left: 5px solid rgba(150,150,150,.6);
	transition-duration: .2s;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group > a:hover:after {
	border-left-color: #fff;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group.collapsable > a:after {
	transform: rotate(90deg);
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu div.qx-aum-menu-bar li.menu-item-selected {
	background-color: #4d6c82;
	transition-duration: .3s;
	transition-property: background-color;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu div.qx-aum-menu-bar li.menu-item-selected > a:before {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: .4em;
	background-color: #1eaaf1;
	transition-duration: .3s;
	transition-property: background-color;
}

.cmsfb:root #cms-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding-left: 0;
	z-index: 1000;
	background-color: #3a597e;
	transition: padding-left .8s;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	z-index: 1001;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #3a597e url('images/lycia-icon.png') no-repeat 20px center;
}
/*END left-side menu*/

#cms-topbar > p.cms-search-widget > .qx-c-cms-search:before {
	content: "\f00e";
    font-family: FontAwesome;
	font-weight: normal;
    position: relative;
    left: -.7em;
    top: .1em;
    font-size: 1.2em;
	color: #888;
}

.cmsfb #qx-container-menu {
	transition-duration: .5s !important;
	transition-property: width !important;
}

.cmsfb .cms-button-mainmenu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    width: 1.3rem;
	height: 1.3rem;
	border: none;
	margin: 0 .5rem;
	cursor: pointer;
	align-self: center;
    flex: 0 0 1.3rem;
}

.cmsfb #cms-mainmenu-close {
    top: .87rem;
    right: .87rem;
    position: absolute;
}

.cmsfb .cms-button-mainmenu > i, .cmsfb .cms-button-mainmenu::before, .cmsfb .cms-button-mainmenu::after {
    content: '';
    background-color: #fff;
    height: 20%;
    box-shadow: 0 0 5px #000;
}

.cmsfb .cms-button-mainmenu:hover > i, .cmsfb .cms-button-mainmenu:hover::before, .cmsfb .cms-button-mainmenu:hover::after {
    box-shadow: 0 0 10px #ff0;
}
.cmsfb .cms-button-mainmenu:active > i, .cmsfb .cms-button-mainmenu:active::before, .cmsfb .cms-button-mainmenu:active::after {
    box-shadow: 2px 2px 15px #fff;
}

.cmsfb .cms-button-mainmenu > i {
    width: 50%;
}

.cmsfb .cms-button-mainmenu::before {
    width: 80%;
}

.cmsfb .cms-button-mainmenu::after {
    margin-bottom: 5%;
}
