/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.cmsfb.qx-devicemode-desktop div::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.cmsfb.qx-devicemode-desktop div::-webkit-scrollbar {
    width: .5rem;
    background-color: #aaa;
    border-radius: .3em;
    box-shadow: inset 0 0 6px #3b5484;
    border: 1px solid #3b5484;
}

.cmsfb.qx-devicemode-desktop div::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: .3em;
    box-shadow: inset 0 0 6px #333;
}

.cmsfb.qx-devicemode-desktop div::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    box-shadow: inset 0 0 6px #333;
    cursor: pointer;
}
