/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

#cms-topbar > p.cms-search-widget > .qx-c-cms-search {
	font-family: Open Sans;
	font-size: .9em;
	font-weight: bold;
	color: #ccc;
	padding: .4em .4em .4em 3em;
	border: none;
	width: 12em;
	height: 2.25em;
	border-radius: 2.5em;
	background-color: #324874;
	background-image: none;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.0);
}

.cmsfb #cms-topbar > p {
	flex-grow: 1;
	align-self: center;
	padding: 0;
	padding-right: 5rem;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
.cmsfb #cms-topbar > p.cms-search-widget {
	flex-grow: 0;
	margin: 0 2rem;
}

.cmsfb #cms-topbar > p.cms-search-widget > .qx-c-cms-search .qx-aum-button {
	display: none;
}

.cmsfb #cms-topbar > p.cms-search-widget > .qx-c-cms-search [contenteditable=true],
.cmsfb #cms-topbar > p.cms-search-widget > .qx-c-cms-search [contenteditable=true]:before {
	font-family: Open Sans;
	font-size: .9rem;
	font-weight: bold;
	color: #ccc;
	cursor: text;
}

.cmsfb #cms-topbar > p.cms-search-widget > .qx-c-cms-search [contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
	width: 100%;
}

.cmsfb #cms-topbar > p > a {
	font-family: Open Sans;
	font-size: .9rem;
	font-weight: bold;
	color: #fff;
	display: none;
	position: relative;
	padding-right: .8rem;
	cursor: pointer;
}

.cmsfb #cms-topbar > p > a.cms-logged-in {
	display: flex;
}

.cmsfb #cms-topbar > p > a .toggle-popup {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-bottom: none;
	border-right: 6px solid transparent;
	border-top: 5px solid rgba(255,255,255,.6);
}
.cmsfb #cms-topbar > p > a:hover .toggle-popup {
	border-top: 5px solid rgba(255,255,255,1);
}


.cmsfb #cms-topbar > p > a > * {
	margin: 0 .3rem;
	align-self: center;
}

.cmsfb #cms-topbar > p > a > img {
	width: 2rem;
	height: 2rem;
    flex: 0 0 2rem;
	border-radius: 50%;
	border: 1px solid #fff;
}

.cmsfb #cms-account-menu > p td {
	font-family: Open Sans;
	font-size: .7rem;
}
.cmsfb #cms-account-menu > p td:first-child {
	font-weight: bold;
}
.cmsfb #cms-account-menu > p td:last-child {
	padding-left: 1rem;
}

/*Topbar height*/
.cmsfb #cms-topbar,
/*Logo rectangle height*/
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu::before {
	height: 3.75rem;
}
/*Place for topbar - prevents topbar-menu overlap*/
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	padding-top: 3.75rem;
}
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu > .qx-menu-inner {
	overflow-y: auto;
    overflow-x: hidden;
}
