/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.cmsfb:root .qx-window-border.cms-window-enumerated {
    position: fixed;
    left: -9999px;
}

.cmsfb:root .qx-window-border.cms-window-enumerated.cms-window-initialized {
    position: static;
}

.cmsfb .qx-c-cms-simple-window,
.cmsfb .qx-c-cms-simple-window > .qx-identifier-rootcontainer {
    padding: 1em;
}
.cmsfb .qx-c-cms-simple-window {
    padding-top: 0;
}
