/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*Media query for scatterable table - no container menu*/
@media only screen and (max-device-width : 749px) {
    .cmsfb .qx-c-cms-scatter.qx-aum-table {
        padding: 0;
    }
    .cmsfb .qx-c-cms-scatter.qx-aum-table,
    .cmsfb .qx-c-cms-scatter.qx-aum-table > * {
        border: none;
        background-color: transparent;
    }

    .cmsfb .qx-c-cms-scatter.qx-aum-table,
    .cmsfb .qx-c-cms-scatter.qx-aum-table > div,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-brow,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-brow > div,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-brow .qx-bcell,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-brow .qx-bcell > table.qx-tbody
    {
        position: static !important;
        display: block !important;
        min-height: auto !important;
        min-height: unset !important;
        max-height: none !important;
        min-width: auto !important;
        min-width: unset !important;
        max-width: none !important;
        width: auto !important;
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-tbody > tbody {
    	display: flex;
    	flex-flow: row wrap;
    }
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-hrow,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-frow,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-tbody > thead,
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-tbody > tfoot {
    	display: none;
    }
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-tbody tr {
    	margin: .5em;
        padding: .5em;
    	display: flex;
    	flex-flow: column;
    	flex: 1 1 auto;
    	align-self: stretch;
    	border-radius: 4px;
    	background-color: #ffffff;
    	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0);
        width: 200px;
    }
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-tbody td::before {
      content: attr(data-label);
      font-size: .8em;
      color: #d6d6d6;
      position: absolute;
      width: 90px;
      overflow: hidden;
      top: 0;
      left: 1.5em;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
    }

    .cmsfb .qx-identifier-cnttable.qx-aum-grid-panel > div {
        display: block;
    }
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-brow td {
    	display: flex;
        height: auto !important;
        display: flex;
        border-radius: 4px;
        border: 1px solid #d6d6d6;
        padding: .15em .3em .5em 7.5em;
        margin: .5em 1em 0 1.2em;
        position: relative;
        font-weight: 300;
        font-size: 1em;
    }
    .cmsfb .qx-c-cms-scatter.qx-aum-table .qx-brow td:last-child {
        margin-bottom: .5em;
    }
}
