/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

@import url("http://localhost:9090/public/custom/extensions/jquery-ui.min.css");
@import url("http://localhost:9090/public/custom/extensions/jquery-tooltipster.css");
@import url("http://localhost:9090/public/custom/extensions/_css_flexbox.css");
@import url("http://localhost:9090/public/custom/extensions/_css_form_class_selector-blue.css");
@import url("http://localhost:9090/public/custom/extensions/_css_menu.css");
@import url("http://localhost:9090/public/custom/extensions/_css_table.css");
@import url("http://localhost:9090/public/custom/extensions/_css_text_label.css");
@import url("http://localhost:9090/public/custom/extensions/_css_toolbar.css");
@import url("http://localhost:9090/public/custom/extensions/_css_tooltips.css");
@import url("http://localhost:9090/public/custom/extensions/_css_form_header_footer.css");
@import url("http://localhost:9090/public/custom/extensions/_css_element_type.css");
@import url("http://localhost:9090/public/custom/extensions/_css_container.css");
@import url("http://localhost:9090/public/custom/extensions/_css_mdi_menu.css");
@import url("http://localhost:9090/public/custom/extensions/_css_fgl_message_box.css");