/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*
##########################
Toolbar Button Label
##########################
*/
.qx-aum-toolbar-button .qx-text {
     font: bold 0.7rem  Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
}



.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar
{
    border: 1px solid #5c9ccc !important;     
    margin: 4px;
    padding: 2px;
    border-radius: 5px;
    /*margin-right: 100px;
    padding-right: 100px; */
}