/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*BEGIN START MENU
 This is not for the new FB/Blue menu... it was for the classic cms startmenu
 */
.qx-start-menu a {
    color: #0060B6;
    text-decoration: none;
}

.qx-start-menu a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.qx-start-menu * {
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1rem;
}
.qx-start-menu .qx-identifier-exit {
	line-height: 1rem;
}
.qx-start-menu .qx-identifier-exit > a{
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: 0.5rem 0.5rem 0.5rem 0.7rem;
	min-height: 0;
	display: block;
	border: 1px solid #5c9ccc;
	background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}

.qx-start-menu > ul > li > ul > li > ul {
	border: 1px solid #eee;
}

.qx-start-menu > ul > li > ul > li > ul,
.qx-start-menu .qx-identifier-exit > a,
.qx-start-menu li.qx-aum-menu-group > a,
.qx-start-menu li.ui-menu-item
{
	/*border-radius: 4px;*/
}

.qx-start-menu > ul > li > ul, 
.qx-start-menu > ul > li > ul > li {
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.qx-start-menu ul ul ul>li.ui-state-default,
.qx-start-menu ul ul ul>li.ui-widget-content
{
	border-color: transparent;
	background-image: none;
	background-color: transparent;
}

#qx-container-menu, #qx-main-layout #qx-container-menu
{
	background: white; 
	}
	
/*
ununsed old start menu styles
to be removed
.qx-start-menu {
	font-size: 100%;
	font-weight: normal;
}

.qx-start-menu > ul > li, .qx-start-menu > ul > li > a {
	font-size: 1rem;
}

.qx-start-menu > ul ul ul > li, .qx-start-menu > ul ul ul > li > a {
	font-size: .95rem;
	font-weight: normal;
}


.qx-start-menu li.qx-aum-menu-command {
	padding-left: 2em;
}

.qx-start-menu > ul > li, .qx-start-menu a {
	padding: 0;
	margin: 0;
}

.qx-aum,
* .ui-dialog-titlebar *, 
.ui-widget,
.qx-start-menu {
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
*/
/*END OLD and NEW START MENU*/


