/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/* Font-family */
.qx-aum,
* .ui-dialog-titlebar *, 
.ui-widget,
.qx-start-menu, 
.qx-aum-window.qx-aum fieldset
{
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

/* Styles for fieldsets/legends */
.qx-aum-window.qx-aum fieldset {
  width: auto; height: auto;
  margin: 0 0 5px;
  padding: 5px;
  border: 1px solid #c77405;
  font-size: 1.0em;
  border-radius: 4px;
}

.qx-c-fcls_columnlabel,
.qx-aum-window.qx-aum legend {
  color: #c77405;
}

.qx-aum-window.qx-h-aum-fieldset.qx-aum legend {
  color: blue;
}

.qx-o-identifier-copy_pur_req_win {
	background-color: #fff;
}
.qx-c-fcls_rootcontainer{
	height: auto !important;
}
/*
.qx-c-fcls_rootcontainer fieldset{
	border: 1px solid #c77405;
	border-radius: 4px;
	padding:5px;
}*/

.qx-c-fcls_fieldlabel {
    font: normal 13px "Calibri","Helvetica Neue", Sans-Serif;
	color: #1c94c4;
} 


.qx-c-fcls_statusbar_cnt .qx-c-fcls_fieldlabel {
	color: #fff;
}

.qx-c-fcls_detail_gb_cnt {
    font: normal 13px "Calibri","Helvetica Neue", Sans-Serif;
}

.qx-is-selected *
{ background-color: rgb(190, 210, 240); color: black; }

/*####################################################
Inflair Title text in form - top row-container in form's rootContainer
######################################################*/
.qx-c-fcls_title_lb .qx-text {
/*
    padding: 2px;
    padding: 5px 10px;
*/
    color: #fff !important;
    font: bold 14px "Calibri","Helvetica Neue", Sans-Serif;
} 

.qx-c-fcls_title_cnt {
	border: 1px solid #e78f08;
	background: #f6a828 url("https://code.jquery.com/ui/1.11.3/themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	padding: 0 2px;
	margin: 0; 
}

/*
.qx-c-fcls_title_cnt * {
	padding-top: 0;
	padding-bottom: 0;
}*/

/*####################################################
Inflair custom key usage information - bottom form
######################################################*/
.qx-c-fcls_statusbar_cnt {
	border: 1px solid #e78f08;
	background: #f6a828 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	border-radius: 4px;
	padding: 0;
	margin-top:5px;
}

.qx-c-fcls_sblabel .qx-text {
/*	color: #ffffff;*/
    color: #000000;
    font: normal 14px "Calibri","Helvetica Neue", Sans-Serif;
    padding: 5px 10px 2px;
} 


#qx-container-body div>div.qx-content > div.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div>div.qx-content > div.qx-aum.qx-aum-abstract-field 
{
	padding: 1px;
	margin: 1px 1px 1px 1px;
	height: 22px !important;
}

#qx-container-body div>div.qx-content > div.qx-aum.qx-aum-abstract-field.qx-aum-button,
#qx-container-shadow div>div.qx-content > div.qx-aum.qx-aum-abstract-field.qx-aum-button 
{
	margin: 2px;
	height: auto !important;
}


/*##############################################################################################*/
/* Form Class field fcls_field                                                                  */
/*##############################################################################################*/

#qx-container-body div.qx-content > div.qx-c-fcls_field.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field.qx-aum.qx-aum-abstract-field
{
	width: auto !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_field_01.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field_01.qx-aum.qx-aum-abstract-field
{
	width: 40px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_field_05.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field_05.qx-aum.qx-aum-abstract-field
{
	width: 70px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_field_10.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field_10.qx-aum.qx-aum-abstract-field
{
	width: 110px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_field_15.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field_15.qx-aum.qx-aum-abstract-field
{
	width: 150px !important;
}



#qx-container-body div.qx-content > div.qx-c-fcls_field_20.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field_20.qx-aum.qx-aum-abstract-field
{
	width: 190px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_field_30.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_field_30.qx-aum.qx-aum-abstract-field
{
	width: 270px !important;
}

/*##############################################################################################*/
/* Form Class search_field                                                                      */
/*##############################################################################################*/

#qx-container-body div.qx-content > div.qx-c-fcls_search_field_01.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_search_field_01.qx-aum.qx-aum-abstract-field
{
	width: 40px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_search_field_05.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_search_field_05.qx-aum.qx-aum-abstract-field
{
	width: 70px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_search_field_10.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_search_field_10.qx-aum.qx-aum-abstract-field
{
	width: 110px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_search_field_15.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_search_field_15.qx-aum.qx-aum-abstract-field
{
	width: 150px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_search_field_20.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_search_field_20.qx-aum.qx-aum-abstract-field
{
	width: 190px !important;
}

#qx-container-body div.qx-content > div.qx-c-fcls_search_field_30.qx-aum.qx-aum-abstract-field,
#qx-container-shadow div.qx-content > div.qx-c-fcls_search_field_30.qx-aum.qx-aum-abstract-field
{
	width: 270px !important;
}

div.qx-aum-label.qx-aum.qx-aum-abstract-field .qx-vtal{
	vertical-align: middle;
}


.qx-start-menu {
	font-size: 100%;
	font-weight: normal;
}

.qx-start-menu > ul > li, .qx-start-menu > ul > li > a {
	font-size: 1.1em;
}

.qx-start-menu > ul ul ul > li, .qx-start-menu > ul ul ul > li > a {
	font-size: .95em;
	font-weight: normal;
}

.qx-start-menu ul ul ul>li.ui-state-default,
.qx-start-menu ul ul ul>li.ui-widget-content
{
	border-color: transparent;
	background-image: none;
	background-color: transparent;
}

.qx-start-menu li.qx-aum-menu-command {
	padding-left: 2em;
}

.qx-start-menu > ul > li, .qx-start-menu a {
	padding: 0;
	margin: 0;
}

.qx-table td, .qx-table-cell .ui-state-active {/*, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active*/
	border: none;
}

/*Changes hilited row in the table*/
/*.qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse, .qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse * {
    background-color: #f6a828;
    color: white;
}*/


/*Changes font-weight of the start menu*/
/*.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	font-weight: normal;
}*/

/*Changes menu items color in the start menu*/
/*.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	color: #212121;
}*/

/*Mimics Exit button in the start menu*/
.qx-start-menu .qx-identifier-exit {
	line-height: 1.3;
}
.qx-start-menu .qx-identifier-exit > a{
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
	display: block;
	border-radius: 4px;
	border: 1px solid #cccccc;
	background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}

.qx-o-aum-window.qx-o-c-full-screen,
.qx-o-aum-window.qx-o-identifier-screen,
.ui-widget-content, .qx-window-border {
	background-color: #fff;
	background-image: none;
}

.qx-aum-text-field, .qx-aum-spinner, .qx-aum-text-area, .qx-aum-calendar, .qx-aum-time-edit-field, .qx-aum-combo-box, .qx-aum-list-box {
	background-color: #e6e6e6;
}

.ui-widget-content .qx-aum-abstract-field.ui-state-active, 
.ui-widget-header .qx-aum-abstract-field.ui-state-active, 
.qx-aum-abstract-field.ui-state-active
{
	font-weight: normal;
	color: #212121;
}

#qx-t-c > ul > li {
	-webkit-transform: perspective(100px) rotateX(15deg);
	-moz-transform: perspective(100px) rotateX(15deg);
	transform: perspective(100px) rotateX(15deg);
	background: #f0f0f0;
	padding: .5em 1em;
	border-radius: 6px 6px 0 0;
}

#qx-t-c > ul > li.ui-state-active {
	background: #fff;
	z-index: 2;
}

#qx-t-c > ul > li > a{
	-webkit-transform: perspective(100px) rotateX(-15deg);
	-moz-transform: perspective(100px) rotateX(-15deg);
	transform: perspective(100px) rotateX(-15deg);
	font-weight: normal;
	letter-spacing: 0;
	padding: 0;
}

#qx-t-c > ul > li, 
#qx-t-c > ul > li > a {
	overflow: hidden;
	max-width: 200px;
}

/*TOOLTIP*/
#message-popup.ui-tooltip, #message-popup.ui-tooltip .arrow:after {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border: 1px solid #faebcc !important;
}

#message-popup.ui-tooltip {
    border-radius: 5px;
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 9pt;
	line-height: normal;
	padding: 6px 10px;
    box-shadow: 0 0 7px black;
}

/*PROVENCE*/
div.qx-aum-label.qx-c-ecdecad4_l2-televente-logo {
 min-height: 60px !important;
 max-height: 60px !important;
}