<!--
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
-->
<h1><font color="#ff0000">&nbsp;&nbsp;&nbsp; </font><font color="#000080">Company Details
</font></h1>
<h1><font size="3" color="#000080">(Data from 4GL - HTML from a Template File - 
Spanish)</font></h1>
<table border="0" width="100%" id="table3">
	<tr>
		<td>
		<p align="left"><font face="IDAutomationHC39M" size="1">This requires the 
		bar-code font IDAutomationHC39M</font></td>
		<td>
		<img border="0" src="@@qxi01@@" width="110" align="right"></td>
	</tr>
</table>
<p><i>Below, you find the contact details of your current contact in print format 
(Html).</i></p>
<table border="0" width="100%" id="table1">
	<tr>
		<td width="40%"><font color="#000080"><b>@@qxs01@@</b></font></td>
		<td width="40%">@@qxs21@@</td>
		<td rowspan="10" valign="top" width="20%">
		<p align="right">&nbsp;</p></td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs02@@</b></font></td>
		<td width="305">@@qxs22@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs03@@</b></font></td>
		<td width="305">@@qxs23@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs04@@</b></font></td>
		<td width="305">@@qxs24@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs05@@</b></font></td>
		<td width="305">@@qxs25@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs06@@</b></font></td>
		<td width="305">@@qxs26@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs07@@</b></font></td>
		<td width="305">@@qxs27@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs08@@</b></font></td>
		<td width="305">@@qxs28@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs09@@</b></font></td>
		<td width="305">@@qxs29@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs10@@</b></font></td>
		<td width="305">@@qxs30@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs11@@</b></font></td>
		<td width="305">@@qxs31@@</td>
	</tr>
</table>
<h3>Comments:</h3>
<p><i>@@qxl21@@</i></p>
<p>&nbsp;</p>
<p>Thank you for using the Querix CMS Demo V4.31</p>