<!--
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
-->
<h1><font color="#FF0000">&nbsp;&nbsp;&nbsp; </font><font color="#000080">
Kundendaten
</font></h1>
<h1><font size="3" color="#000080">(Daten von 4GL - HTML von einer HTML Template 
Datei - 
Deutsch)</font></h1>
<p><i>Hier finden Sie die Kundendaten Ihres angewÃÂÃÂ¤hlten Kunden in HTML-Druck 
Format 
(Html).</i></p>
<table border="0" width="100%" id="table1">
	<tr>
		<td width="40%"><font color="#000080"><b>@@qxs01@@</b></font></td>
		<td width="40%">@@qxs21@@</td>
		<td rowspan="10" valign="top" width="20%">
		<p align="right">
		<img border="0" src="@@qxi01@@" width="110" align="right"></td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs02@@</b></font></td>
		<td width="305">@@qxs22@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs03@@</b></font></td>
		<td width="305">@@qxs23@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs04@@</b></font></td>
		<td width="305">@@qxs24@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs05@@</b></font></td>
		<td width="305">@@qxs25@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs06@@</b></font></td>
		<td width="305">@@qxs26@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs07@@</b></font></td>
		<td width="305">@@qxs27@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs08@@</b></font></td>
		<td width="305">@@qxs28@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs09@@</b></font></td>
		<td width="305">@@qxs29@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs10@@</b></font></td>
		<td width="305">@@qxs30@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs11@@</b></font></td>
		<td width="305">@@qxs31@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs12@@</b></font></td>
		<td width="305">@@qxs32@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs13@@</b></font></td>
		<td width="305">@@qxs33@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs14@@</b></font></td>
		<td width="305">@@qxs34@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs15@@</b></font></td>
		<td width="305">@@qxs35@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs16@@</b></font></td>
		<td width="305">@@qxs36@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs17@@</b></font></td>
		<td width="305">@@qxs37@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs18@@</b></font></td>
		<td width="305">@@qxs38@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs19@@</b></font></td>
		<td width="305">@@qxs39@@</td>
	</tr>
	<tr>
		<td width="240"><font color="#000080"><b>@@qxs20@@</b></font></td>
		<td width="305">@@qxs40@@</td>
	</tr>
</table>
<h3>Hinweis:</h3>
<p><i>@@qxl21@@</i></p>
<p>&nbsp;</p>
<p>Vielen Dank ! Das ist Teil der CMS Demo V4.31</p>