/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/* .qx-identifier-lbValueUserPicture {*/
#lbValueUserPicture {	
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}

.qx-aum-table-column {
    margin-left: 3px;
    margin-right: 3px;    
	
}

.qx-aum-table-column .ui-widget .qx-aum-label {
    margin-left: 3px;
    margin-right: 3px;    
	
}


.qx-aum-table-column .qx-text { 
	margin: 4px 4px; 

}

qx-aum-abstract-field.ui-state-active .qx-aum-abstract-field.ui-state-active .qx-aum-radio-button-list .qx-content, .qx-c-nativestyle .qx-content
{
	color: black;
	font-size: 1rem;	
	margin-left: 1px;
	margin-right: 1px;		
}


/*labels for widgets i.e. buttons */
.ui-widget .qx-text-with-icon{
font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
font-size: 1rem;
font-weight:normal;
}

.ui-widget .qx-aum-label {
font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
font-size:1rem;
font-weight: normal;

color: #3c98c8;
	/*
color: #1c94c4;
color: #4ca8c8;
color: #2e6e9e;
	*/
}

#qx-container-menu, #qx-main-layout #qx-container-menu
{
	background: white; 
	}

/*BEGIN START MENU*/
.qx-start-menu a {
    color: #0060B6;
    text-decoration: none;
}

.qx-start-menu a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.qx-start-menu * {
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1rem;
}
.qx-start-menu .qx-identifier-exit {
	line-height: 1rem;
}
.qx-start-menu .qx-identifier-exit > a{
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: 0.5rem 0.5rem 0.5rem 0.7rem;
	min-height: 0;
	display: block;
	border: 1px solid #5c9ccc;
	background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}

.qx-start-menu > ul > li > ul > li > ul {
	border: 1px solid #eee;
}

.qx-start-menu > ul > li > ul > li > ul,
.qx-start-menu .qx-identifier-exit > a,
.qx-start-menu li.qx-aum-menu-group > a,
.qx-start-menu li.ui-menu-item
{
	/*border-radius: 4px;*/
}

.qx-start-menu > ul > li > ul, 
.qx-start-menu > ul > li > ul > li {
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.qx-start-menu ul ul ul>li.ui-state-default,
.qx-start-menu ul ul ul>li.ui-widget-content
{
	border-color: transparent;
	background-image: none;
	background-color: transparent;
}

/*
ununsed old start menu styles
to be removed
.qx-start-menu {
	font-size: 100%;
	font-weight: normal;
}

.qx-start-menu > ul > li, .qx-start-menu > ul > li > a {
	font-size: 1rem;
}

.qx-start-menu > ul ul ul > li, .qx-start-menu > ul ul ul > li > a {
	font-size: .95rem;
	font-weight: normal;
}


.qx-start-menu li.qx-aum-menu-command {
	padding-left: 2em;
}

.qx-start-menu > ul > li, .qx-start-menu a {
	padding: 0;
	margin: 0;
}

.qx-aum,
* .ui-dialog-titlebar *, 
.ui-widget,
.qx-start-menu {
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
*/
/*END OLD and NEW START MENU*/


/*
##########################
Toolbar Button Label
##########################
*/
.qx-aum-toolbar-button .qx-text {
     font: bold 0.7rem "Calibri";
}


/*
##########################
RootContainer
##########################
*/
.qx-c-fcls_rootcontainer{
	border-radius: 4px;
	padding:2px 2px 2px 2px;
	border: 1px solid #2e6e9e;
}


/*huho
.qx-c-fcls_rootcontainer fieldset{
	border: 1px solid #929292;
	border-radius: 4px;
}
*/


/*
#######################
Field Labels
#######################
*/
.qx-c-fcls_fieldlabel .qx-text{
    font: normal 1rem "Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e;
	/*color: #4ca8c8;*/
} 




/*
huho
*/
/*
.qx-c-fcls_detail_gb_cnt {
    font: normal 1rem "Calibri","Helvetica Neue", Sans-Serif;
}
*/
/*
qx-groupbox-table qx-aum qx-on-2 qx-s-on-0 qx-2-149 qx-aum-group-box qx-aum-element-container qx-aum-abstract-container qx-psh qx-psw qx-identifier-cntdetail2groupbox1 qx-c-fcls_detail_gb_cnt qx-c-nativestyle qx-has-title ui-accordion ui-widget ui-helper-reset qx-rsw qx-has-text
*/

/*huho
.qx-is-selected *
{ background-color: rgb(190, 210, 240); color: black; }
*/








/*
####################################################################################################################################
Title Container and text in form - top row-container in form's rootContainer

FormClasses:
fcls_title_cnt
fcls_title_cnt_sub
fcls_title_lb
####################################################################################################################################
*/

.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: white !important;
    font: bold 1.2rem "Calibri","Helvetica Neue", Sans-Serif;
} 

.qx-c-fcls_title_cnt {
	border: 1px solid #5c9ccc;
	background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
	border-radius: 4px;
	padding: 2px;
	margin: 0; 
}



/*
####################################################################################################################################
Custom Statusbar - bottom form
Form Classes / Selectors:
fcls_statusbar_cnt
fcls_statusbar_cnt_sub
fcls_sblabel
####################################################################################################################################
*/

.qx-c-fcls_statusbar_cnt {
	border: 1px solid #5c9ccc;
	background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	border-radius: 4px;
	padding: 0;
	margin-top:5px;
}

.qx-c-fcls_sblabel {
  min-height: 30px;
}

.qx-c-fcls_sblabel .qx-text {
	color: #ffffff;
    font: normal 1rem "Calibri","Helvetica Neue", Sans-Serif;
    padding: 5px 10px 2px;
} 




/*####################################################
Inflair custom key usage information - bottom form
######################################################*/
/*huho
.qx-c-fcls_detail_cnt {

background: #a6c9e2 url("https://code.jquery.com/ui/1.11.3/themes/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
needs commenting/*	background: #a6c9e2 url("https://code.jquery.com/ui/1.11.3/themes/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x;*/
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	margin-top:2px;
         -webkit-background-size: contain;
         -moz-background-size: contain;
         -o-background-size: contain;
          background-size: contain;
}
*/



/*##############################################################################################*/
/* Form Class field fcls_length                                                                 */
/*##############################################################################################*/

/* issue with length_01 - no idea why */
.qx-c-fcls_length_01 {
    width: 66rem;
}

.qx-c-fcls_length_05 {
    width: 04rem;
}

.qx-c-fcls_length_10 {
    width: 8rem;
}

.qx-c-fcls_length_15 {
    width: 12rem;
}

.qx-c-fcls_length_20 {
    width: 16rem;
}
.qx-c-fcls_length_30 {
    width: 24rem;
}

.qx-c-fcls_length_40 {
    width: 32rem;
}

.qx-c-fcls_length_50 {
    width: 40rem;
}



/*
######################################
Table Column
(Display Array / Input Array)
######################################
*/
.qx-table-cell.qx-aum-abstract-field
{
  padding-left: 4px !important;
  padding-right: 4px !important;

  color: black;	
  background-color: white !important;
}

.qx-aum-table-column.ui-widget-header > div
{
  padding-left: 4px !important;
  padding-right: 4px !important;

  color: white;	

}



div.qx-aum-label.qx-aum.qx-aum-abstract-field.qx-c-nativestyle .qx-vtal{
	vertical-align: middle;
}


.qx-table td, .qx-table-cell .ui-state-active {/*, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active*/
	border: none;
	font-size: 1rem;
}



/*Changes hilited row in the table*/
/*.qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse, .qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse * {
    background-color: #f6a828;
    color: white;
}*/


/*Changes font-weight of the start menu*/
/*.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	font-weight: normal;
}*/

/*Changes menu items color in the start menu*/
/*.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	color: #212121;
}*/

.ui-accordion-header .qx-text{
	font-size: 1rem;
}


.ui-accordion-header .qx-text {
	font-size: 1rem;
	color: #2e6e9e;*/

}

/*
GroupBox Header with form class fcls_detail_gb_cnt
*/
.ui-accordion.qx-aum-group-box .ui-accordion-header
{
	border: 1px solid #5c9ccc;
	background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
	border-radius: 4px;
	padding: 2px;
	margin: 0; 
}

/*
GroupBox Header LABEL with form class fcls_detail_gb_cnt
*/
 .qx-c-fcls_detail_gb_cnt .ui-accordion-header .qx-text
{
    font: bold 1.1rem "Calibri","Helvetica Neue", Sans-Serif;
		color: white /*#2e6e9e;*/

}



.qx-o-aum-window.qx-o-c-full-screen,
.qx-o-aum-window.qx-o-identifier-screen,
.ui-widget-content, .qx-window-border {
	background-color: #fff;
	background-image: none;
}

/*
TextField
*/
.qx-aum-text-field.qx-aum-spinner, .qx-aum-text-field.qx-aum-text-area, .qx-aum-text-field.qx-aum-calendar, 
.qx-aum-text-field.qx-aum-time-edit-field, .qx-aum-text-field.qx-aum-combo-box, .qx-aum-text-field.qx-aum-list-box, 
.qx-aum-text-field.qx-aum-list-box-item, .qx-aum-text-field.qx-aum-radio-button-list, .qx-aum-text-field.qx-aum-check-box {
	/*background-color: #e6e6e6;*/
	color: #0e0e0e;
	font-size: 1rem;	
}




/*
RadioButtonList Children * selector
*/
.qx-aum-radio-button-list * 
{
	color: #2e6e9e;
	font-size: 1rem;		
}

/*
RadioButtonListItem
Element: .qx-aum-radio-button-list-item
FormClass: .qx-c-fcls_field
*/
.qx-c-fcls_field .qx-aum-radio-button-list-item
{
	color: #2e6e9e;
	font-size: 1rem;		
}

.qx-c-fcls_data_widget .qx-aum-radio-button-list-item
{
	color: #2e6e9e;
	font-size: 1rem;		
}

.aum-text-field
{
	color: #2e6e9e;
	font-size: 2.8rem;		
}

.qx-aum-radio-button-list .qx-content, .qx-c-nativestyle .qx-content
{
	color: #2e6e9e;
	font-size: 2.8rem;		
}

/*kk
.qx-aum-abstract-field.ui-state-active .qx-aum-radio-button-list .qx-content, .qx-c-nativestyle .qx-content
*/

qx-aum-abstract-field.ui-state-active .qx-aum-abstract-field.ui-state-active .qx-aum-radio-button-list .qx-content, .qx-c-nativestyle .qx-content
{
	color: black;
	font-size: 1rem;		
}


.ui-widget-content .qx-aum-abstract-field.ui-state-active, 
.ui-widget-header .qx-aum-abstract-field.ui-state-active, 
.qx-aum-abstract-field.ui-state-active
{
	font-weight: normal;
	color: #212121;
}

.qx-menu-group-header {
	border:none;
}

.qx-aum-menu-command:hover,
.qx-menu-group-header:hover
 {
	background: #f0f8ff;
}
.qx-menu-group-header {
	background: transparent;
	border-radius: 0;
}

.ui-state-default.qx-aum-menu-item {
	background: transparent;
		border:none;

}

.qx-aum-menu-group .ui-widget-content {
	background: transparent;
	border: none;
}

.qx-aum-menu-item .ui-state-default {
	font-weight: initial !important;
}

