/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.tooltipster-default {
	border-radius: 5px; 
	border: 1px solid #000;
	background: #4c4c4c;
	color: #fff;
}

.tooltipster-default .tooltipster-content {
	font-family: Calibri,Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 9pt;
	line-height: normal;
	padding: 6px 10px;
	/*overflow: hidden;*/
}

.tooltipster-message,.tooltipster-usage,.tooltipster-other {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.tooltipster-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.tooltipster-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.tooltipster-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
