/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

.qx-bordered-window.qx-content, .qx-window-border TD, .qx-window-outer
{
	overflow: hidden;
	background-color: #FF0000;
}

/*

background-color: #155CB8;

*/