/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*
########################################################
CSS is used for container properties


########################################################
*/



/*
#######################################################
Gridpanel
#######################################################
*/

/*rootContainer elementBorder */
.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container.qx-identifier-rootcontainer.qx-c-fcls_container_border.qx-c-fcls_rootcontainer table {
    border-color: #a6c9e2;
}

/*All grid cells - vertical element alignment within gridPanel cells */
/*
.qx-grid-cell {
    vertical-align: top;
    overflow: hidden;
   
}

*/

/*All cells in rootContainer descendants -  vertical element alignment top*/
.qx-c-fcls_rootcontainer.qx-aum-grid-panel .qx-grid-cell 
{
    vertical-align: top;
    overflow: hidden;
}

/*All descendant cells in gridPanels with class fcls_data_cnt -  vertical element middle */
.qx-aum-grid-panel.qx-c-fcls_data_cnt .qx-grid-cell 
{
    vertical-align: middle;
    overflow: hidden;
}
