/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*
####################################################################################################################################
Title Container and text in form - top row-container in form's rootContainer

FormClasses:
fcls_title_cnt
fcls_title_cnt_sub
fcls_title_lb
####################################################################################################################################
*/
.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: white !important;
    font: bold 14px "Calibri","Helvetica Neue", Sans-Serif;
} 

.qx-c-fcls_title_cnt {
	/* border: 1px solid #cccccc; */
	background: #cccccc url("/public/custom/extensions/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	/* background: url("https://code.jquery.com/ui/1.11.3/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x; */
	/*color: #ffffff;*/
	font-weight: bold;
	border-radius: 4px;
	/*padding: 2px; */
	margin: 0;
}

/*
.qx-c-fcls_title_cnt {
	border: 1px solid #5c9ccc;
	background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
	border-radius: 4px;
	padding: 2px;
	margin: 0; 
}
*/

/*
####################################################################################################################################
Custom Statusbar - bottom form
Form Classes / Selectors:
fcls_statusbar_cnt
fcls_statusbar_cnt_sub
fcls_sblabel
####################################################################################################################################
*/

.qx-c-fcls_statusbar_cnt {
	/*border: 1px solid #3a597e;*/
	background: #3a597e url("/public/custom/extensions/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	border-radius: 4px;
	padding: 0;
	margin-top:5px;
}

