/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/*
####################################################################################################################################
MDI-Container stuff


####################################################################################################################################
*/


/*Tab Handles */

/* MDI-Container Root-Tab should be hidden without taking place / display:none */
.qx-page-0-header
{
    /*visibility: hidden;*/
    display: none;
}

/*Note, we need a different/unique class name for MDI-container tab-handles*/
/*at the moment, this class will select ALL tab handles normal form AND mdi-container */
.ui-tabs-nav .qx-text 
{
    min-width: 150px;
}

.qx-t-h.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header
{
    /*visibility: hidden;*/
    border-bottom: 1px solid #5c9ccc !important; 
    
}