/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

/* .qx-identifier-lbValueUserPicture {*/
#lbValueUserPicture {	
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}




/* huho 21.7.2016 commented - font-size is defined in the theme file */
/*label widgets with image .... s for widgets i.e. buttons */
/* .ui-widget .qx-text-with-icon{
font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
font-size: 1rem;
font-weight:normal;
}
*/

/* huho 21.7.2016 commented - font-size is defined in the theme file */
/* label elements without image */
/*
.ui-widget .qx-aum-label {
font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
font-size:1rem;
font-weight: normal;

color: #3a597e;
	
}
*/





/*
##########################
RootContainer
##########################
border is already applied by qxtheme
*/
/*
.qx-c-fcls_rootcontainer{
	
	padding:2px 2px 2px 2px;
	
}
*/

/*huho
.qx-c-fcls_rootcontainer fieldset{
	border: 1px solid #929292;
	border-radius: 4px;
}
*/




/*
.qx-c-fcls_detail_gb_cnt {
    font: normal 1rem "Calibri","Helvetica Neue", Sans-Serif;
}
*/
/*
qx-groupbox-table qx-aum qx-on-2 qx-s-on-0 qx-2-149 qx-aum-group-box qx-aum-element-container qx-aum-abstract-container qx-psh qx-psw qx-identifier-cntdetail2groupbox1 qx-c-fcls_detail_gb_cnt qx-c-nativestyle qx-has-title ui-accordion ui-widget ui-helper-reset qx-rsw qx-has-text
*/

/*huho
.qx-is-selected *
{ background-color: rgb(190, 210, 240); color: black; } 
*/














/*####################################################
Inflair custom key usage information - bottom form
######################################################*/
/*huho
.qx-c-fcls_detail_cnt {

background: #a6c9e2 url("https://code.jquery.com/ui/1.11.3/themes/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
needs commenting/*	background: #a6c9e2 url("https://code.jquery.com/ui/1.11.3/themes/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	margin-top:2px;
         -webkit-background-size: contain;
         -moz-background-size: contain;
         -o-background-size: contain;
          background-size: contain;
}
*/



/*##############################################################################################*/
/* Form Class field fcls_length                                                                 */
/*##############################################################################################*/

/* issue with length_01 - no idea why */
.qx-c-fcls_length_01 {
    width: 66rem;
}

.qx-c-fcls_length_05 {
    width: 04rem;
}

.qx-c-fcls_length_10 {
    width: 8rem;
}

.qx-c-fcls_length_15 {
    width: 12rem;
}

.qx-c-fcls_length_20 {
    width: 16rem;
}
.qx-c-fcls_length_30 {
    width: 24rem;
}

.qx-c-fcls_length_40 {
    width: 32rem;
}

.qx-c-fcls_length_50 {
    width: 40rem;
}

.qx-c-fcls_length_60 {
    width: 48rem;
}





/*Changes hilited row in the table*/
/*.qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse, .qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse * {
    background-color: #f6a828;
    color: white;
}*/


/*Changes font-weight of the start menu*/
/*.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	font-weight: normal;
}*/

/*Changes menu items color in the start menu*/
/*.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	color: #212121;
}*/

.ui-accordion-header .qx-text{
	font-size: 1rem;
}


.ui-accordion-header .qx-text {
	font-size: 1rem;
	color: #3a597e; /*was #2e6e9e;  */ 

}

/*
GroupBox Header with form class fcls_detail_gb_cnt
*/
.ui-accordion.qx-aum-group-box .ui-accordion-header
{
	border: 1px solid #5c9ccc;
	background: #3a597e; url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;    /* #3a597e; was #5c9ccc */
	color: #ffffff;
	font-weight: bold;
	border-radius: 4px;
	padding: 2px;
	margin: 0; 
}

/*
GroupBox Header LABEL with form class fcls_detail_gb_cnt
*/
 .qx-c-fcls_detail_gb_cnt .ui-accordion-header .qx-text
{
    font: bold 1.1rem "Calibri","Helvetica Neue", Sans-Serif;
		color: white /*#2e6e9e;*/

}


/*
.qx-o-aum-window.qx-o-c-full-screen,
.qx-o-aum-window.qx-o-identifier-screen,
.ui-widget-content, .qx-window-border {
	background-color: #fff;
	background-image: none;
}
*/

.qx-menu-group-header {
	border:none;
}

.qx-aum-menu-command:hover,
.qx-menu-group-header:hover
 {
	background: #f0f8ff;
}
.qx-menu-group-header {
	background: transparent;
	border-radius: 0;
}

.ui-state-default.qx-aum-menu-item {
	background: transparent;
		border:none;

}

.qx-aum-menu-group .ui-widget-content {
	background: transparent;
	border: none;
}

.qx-aum-menu-item .ui-state-default {
	font-weight: initial !important;
}

