/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

#qx-container-menu .treeview ul.ui-accordion-content {
    padding: 0px;
    margin: 0px;
}

.qx-mdi.qx-menu-type-tree #qx-container-menu {
   width: 300px;
}

#qx-container-menu .treeview li {
    padding: 3px;
}

#qx-container-toolbars .qx-scroll-viewport {
    height: auto !important;
}

#qx-container-toolbars .qx-scroll-viewport > .qx-content {
    width: 100%;
    position: relative;
}

#qx-container-toolbars .qx-scroll-viewport .qx-scroll-target {
    padding: 2px;
    height: 50px;
    width: 200px;
}




