/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/


.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td:nth-child(1) img {
   height: 120px;
}

.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td:nth-child(2) {
    display:none;
}

/*Hide the URL colummn - alternatively, change your 4gl/form */
/*.qx-c-fcls_flexbox .qx-tbody td:nth-child(<2>) {
display:none;
}
*/

.qx-c-fcls_flexbox.qx-aum-table.qx-table {
  background-image: none !important;
  /*background-color: #d0e5f5;*/
  background-color: #ffffff;
}
.qx-c-fcls_flexbox .qx-tbody {
  display: block;
}
.qx-c-fcls_flexbox .qx-hrow,
.qx-c-fcls_flexbox .qx-frow,
.qx-c-fcls_flexbox .qx-tbody > thead {
  display: none !important;
}
.qx-c-fcls_flexbox .qx-brow {
  padding-top:0 !important;
}
.qx-c-fcls_flexbox .qx-tbody > tbody {
  display: block;
  /*display: flex;
  flex-flow: row wrap;
  justify-content: space-around;*/
  padding-top: 1em;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr {
  float: left;
  display: flex;
  flex-flow: column;
  flex: 1 1 30%;
  align-self: flex-start;
  margin: 1%;
  min-width: 170px;
  border: none;
  background: none !important;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr.qx-scroll-space {
    flex: 0 0 100%;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td {
  height: auto !important;
  border: none;
  align-self: center;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr * {
  background: none !important;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td img:first-child {
  border-radius: 1em;
}
/*
@media only screen and (min-width: 1601px) {
    .qx-c-fcls_flexbox .qx-tbody > tbody > tr {
      flex-basis: 22%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1600px) {
    .qx-c-fcls_flexbox .qx-tbody > tbody > tr {
      flex-basis: 30%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .qx-c-fcls_flexbox .qx-tbody > tbody > tr {
      flex-basis: 45%;
    }
}

@media only screen and (max-width: 601px) {
    .qx-c-fcls_flexbox .qx-tbody > tbody > tr {
      flex-basis: 100%;
    }
}
*/
