/*
 cms-demo
 Property of Querix Ltd.
 Copyright (C) 2016  Querix Ltd. All rights reserved.
 This program is free software: you can redistribute it. 
 You may modify this program only using Lycia.

 This program is distributed in the hope that it will be useful,
 but without any warranty; without even the implied warranty of
 merchantability or fitness for a particular purpose.

 Email: info@querix.com
*/

body {
  width: 100%;
  height: 100%;
}

#qx-container-menu {
  width: 300px;
}

.qx-menu-type-tree #qx-container-menu::-webkit-scrollbar {
    width: 10px;
}
.qx-menu-type-tree #qx-container-menu::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid #ccc;
}
.qx-menu-type-tree #qx-container-menu::-webkit-scrollbar-thumb {
    background: #dfeffc url("images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-y;
}
.qx-menu-type-tree #qx-container-menu::-webkit-scrollbar-thumb:hover {
    background: #d0e5f5 url("images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-y;
}

.qx-content {
  font-size: inherit;
}
#sample-header  {
  font-size: 40px;
}


#sample-footer {
    height: 100px;
}

#myGridPanelConatiner{
    border: 5px solid red;
}


#header-container > * {
	float: left;
}

.qx-identifier-toolbar .qx-scroll-viewport {
  height: 50px !important;
}

.qx-identifier-toolbargroup .ui-button-text {
  width: 60px !important;
  height: 43px !important;
  padding: 3px !important;
  display: block !important;
}

.qx-identifier-toolbargroup .qx-tar {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}

.qx-identifier-toolbargroup .qx-tat, .qx-identifier-toolbargroup .qx-tat *{
  text-align: center;
  vertical-align: middle;
  font-size: 90%;
}

.qx-identifier-toolbargroup .qx-tai,
.qx-identifier-toolbargroup .qx-tat
{
  display: table-row !important;
}
 